# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# Large Datasets, Checkpoints & Environment
*.xyz
*.pt
*.zip
*.tar.gz
*.json
.env
materials_project_dataset/
data/
scripts_archive/

# Logs & temp
*.log
gnome_test.csv
GNoME_insulators_filtered.csv
data/processed/*.csv
scratch/
.system_generated/

# OS
.DS_Store
Thumbs.db
