# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# Large Datasets, Raw Files & Archives (> 50MB)
*.xyz
*.zip
*.tar.gz
*.json
*.pt
!**/models/*.pt
*.pptx
Email_to_Prof_*.txt
.env
data/
scripts_archive/
materials_project_dataset/
gnome/stable_materials_summary.csv
gnome/gnome_semiconductors_full_3x3_predictions_full_3x3_15k.csv

# Logs & temp
*.log
gnome_test.csv
GNoME_insulators_filtered.csv
data/processed/*.csv
scratch/
.system_generated/

# OS
.DS_Store
Thumbs.db
